@media screen and (min-width:161.875em){
    body {
        width: 90%;
        max-width: none;
    }

    header{
        max-width: none;
    }

    .container-body{
        max-width: none;
    }

    .footer{
        max-width: none;
    }
}